[build]
builder = "nixpacks"

[deploy]
startCommand = "node server.js"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[environments]
production = { CURSEFORGE_API_KEY = "${{ secrets.CURSEFORGE_API_KEY }}" }
